.transparent {
  background-color: transparent;
  box-shadow: none;
  color: inherit;
}

list row.transparent:hover {
  background-color: @theme_bg_color;
}

label.dark {
  color: #000000;
}

label.light {
  color :#ffffff;
}

.preview {
  font: 12px "Cantarell";
}

.tag label {
  padding: 3px 16px 4px 16px;
  border-radius: 4px;
}
